# macOS
.DS_Store

# notebook checkpoints
.ipynb_checkpoints/
*.nb.html

# compilation
__pycache__/
*.pyc

# visual studio
.vscode/

# downloaded data
data/WES/
data/scRNA/
data/ST/

# outputs
step*/*_out/