aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
anndata==0.8.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==5.0.0
build==0.8.0
cachey==0.2.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.1.0
-e git+https://github.com/codyheiser/cnmf.git@8e58e038679c5a486bb6024a50b6bcdc460b7f9b#egg=cNMF
colorcet==3.0.1
colormath==3.0.0
commonmark==0.9.1
contourpy==1.1.0
cycler==0.11.0
dask==2022.5.2
dask-image==2021.12.0
datacache==1.1.5
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
docrep==0.3.2
docstring-parser==0.14.1
docutils==0.18.1
dropkick==1.2.6
emptydrops==0.0.5
entrypoints==0.4
executing==0.8.3
fa2==0.3.5
fastcluster==1.2.6
fasteners==0.17.3
fastjsonschema==2.15.3
fonttools==4.33.3
freetype-py==2.3.0
frozenlist==1.3.0
fsspec==2022.5.0
gtfparse==1.2.1
h5py==3.7.0
HeapDict==1.0.1
hsluv==5.0.3
idna==3.3
igraph==0.9.10
imagecodecs==2022.2.22
imageio==2.19.2
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.7.1
infercnvpy==0.1.dev94
inflect==5.6.0
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.5.1
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
-e git+https://github.com/codyheiser/kitchen.git@1476b15ff9c3362deea42d1065779e240a7e4d6c#egg=kitchen
kiwisolver==1.4.2
leidenalg==0.8.10
llvmlite==0.38.1
locket==1.0.0
loompy==3.0.7
lz4==4.0.1
magicgui==0.5.1
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.3
matplotlib-scalebar==0.8.1
matplotlib-venn==0.11.7
memoized-property==1.0.3
-e git+https://github.com/Ken-Lau-Lab/MILWRM.git@5b49b7a85ca595992a0b54b3089bd94ccff67147#egg=MILWRM
mistune==0.8.4
mock==4.0.3
multidict==6.0.2
mycolorpy==1.5.1
napari==0.4.16
napari-console==0.0.4
napari-plugin-engine==0.2.0
napari-svg==0.1.6
natsort==8.1.0
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.2
notebook==6.4.11
npe2==0.5.1
numba==0.55.2
numcodecs==0.9.1
numpy==1.22.4
numpy-groupies==0.9.16
numpydoc==1.4.0
omnipath==1.0.5
opencv-python==4.6.0.66
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
param==1.12.2
parso==0.8.3
partd==1.2.0
patsy==0.5.2
pdoc3==0.10.0
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
PIMS==0.6.0
Pint==0.19.2
progressbar33==2.4
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.1
psygnal==0.3.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pyct==0.4.8
pydantic==1.9.1
pyensembl==2.0.0
Pygments==2.12.0
pynndescent==0.5.7
PyOpenGL==3.1.6
pyparsing==3.0.9
pyreadr==0.4.4
pyrsistent==0.18.1
python-dateutil==2.8.2
python-igraph==0.9.10
pytoml==0.1.21
pytomlpp==1.0.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyVCF==0.6.8
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.0.0
qtconsole==5.3.0
QtPy==2.1.0
requests==2.27.1
rich==12.4.4
rpy2==3.5.2
scanpy==1.9.3
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
scvelo==0.2.4
seaborn==0.11.2
Send2Trash==1.8.0
serializable==0.2.1
session-info==1.0.0
setuptools-scm==7.0.2
simplejson==3.17.6
six==1.16.0
slicerator==1.1.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
squidpy==1.2.2
stack-data==0.2.0
statsmodels==0.13.2
stdlib-list==0.8.0
superqt==0.3.3
terminado==0.15.0
texttable==1.6.4
threadpoolctl==3.1.0
tifffile==2022.5.4
tinycss2==1.1.1
tinytimer==0.0.0
tomli==2.0.1
toolz==0.11.2
tornado==6.1
tqdm==4.64.0
traitlets==5.2.1.post0
typechecks==0.1.0
typer==0.5.0
typing-extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
umap-learn==0.5.3
urllib3==1.26.9
validators==0.19.0
vispy==0.10.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.0
wrapt==1.14.1
xarray==2022.3.0
yarl==1.7.2
zarr==2.11.3
zipp==3.8.0
